@model Course
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
    <div class="main">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <strong>@TempData["SuccessMessage"]</strong>
            </div>
        }
        <div class="col text-center mb-5">
            <h2>Edit Course</h2>
        </div>

        <form method="post" asp-controller="Admin" asp-action="EditCourse">
            <h5 class="row ml-2 mt-1">
                Course Id: @Model.Id
            </h5>
            <div class="form-group">
                <input asp-for="Name" class="form-control" type="text" value=@Model.Name />
                <strong>@TempData["Message2"]</strong>
            </div>
            <div class="form-group">

                @Html.DropDownListFor(model => model.Dep_Id, ViewBag.DepartmentList as SelectList, new { @class = "form-control" })

            </div>

            <div class="form-group">
                @Html.DropDownListFor(model => model.Prof_Id, ViewBag.ProfessorList as SelectList, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.DropDownListFor(model => model.Prof_Id2, ViewBag.ProfessorList2 as SelectList, new { @class = "form-control" })
            </div>

            <div class="form-group mb-1">
                <div class="col text-center">
                    <button class="btn btn-primary btn-block mb-2" type="submit" name="button" value="update">Update</button>
                </div>
            </div>

            <div class="form-group mb-1">
                <div class="col text-center">
                    <button class="btn btn-primary btn-block mb-2" type="submit" name="button" value="delete">delete</button>
                </div>
            </div>

        </form>
    </div>

<style>
    .main {
         margin-top: 100px;
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }
</style>
