@model CalculationModel
@{
    ViewData["Title"] = "CalculationView";
}

<div class="container">
    <form>
        <div class="col text-left mt-3">
            <i class="fa fa-chevron-left"></i>
            <button class="btn btn-primary-outline btn-lg mb-2" formmethod="get" asp-action="MainScreenViewWithUserId" asp-controller="MainScreen" asp-route-userId="@TempData.Peek("UID")">Back</button>
        </div>

        <div class="col text-center mt-2">
            <h5>@Model.CourseName</h5>
        </div>

        <div class="container text-center">
            <div class="row row-cols-4 text-center">
                <div class="col-6 text-info h4">Current Grade</div>
               
                <div class="col-6 display-4 mb-3">@Model.CurrentGrade</div>
                
                @foreach (var part in Model.Components)
                {
                    <div class="col-6 my-2">@part.Name</div>
                    @if (part.Status == "marked")
                    {
                        <div class="col-6 my-2 bg-success">@part.Status<br>@part.Marks</div>
                    }
                    else
                    {
                        <div class="col-6 my-2 ">@part.Status<br>@part.Marks</div>
                    }

                }

            </div>
        </div>

        <nav class="navbar fixed-bottom btn-group" role="group">
            @await Html.PartialAsync("_FooterNavBar", TempData.Peek("UID"));
        </nav>
    </form>
    
</div>
